<footer class="page-footer">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">SCOOTERBOB</h5>
        <h7 class="grey-text text-lighten-4">Made with ♥ in ✖✖✖</h7>
        </div>
        <div class="col l4 offset-l2 s12">
        <ul>
            <li><a class="grey-text text-lighten-3" href="/aboutUs">About Us</li>
            <li><a class="grey-text text-lighten-3" href="/contactUs">Contact Us</a></li>
            <li><a class="grey-text text-lighten-3" href="/contactUs">Help</a></li>
            <li><span class="icon"><i class="fab fa-facebook"></i></span><span class="icon"><i class="fab fa-instagram"></i></span><span class="icon"><i class="fab fa-whatsapp"></i></span></li>
        </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright ScootBob
    </div>
    </div>
</footer>