<nav id="menu">
    <ul>
     <a href="/login">Log In</a>
     <a href="/signup">Sign Up</a>
     <a href="/drinkers">For Drinkers</a>
     <a href="/drivers">For Drivers</a>
     <a href="/aboutUs">About Us</a>
     <a href="/contactUs">Contact Us</a>
    </ul>
</nav>