<ul id="slide-out" class="sidenav">
{{#if loggedDrinker}}
 <li><a class="waves-effect" href="/drinkers"><i class="material-icons">directions_car</i>Get a Bob</a></li>
    <li><a class="waves-effect" href="/drivers"><i class="material-icons">access_time</i>History</a></li>
    <li><div class="divider"  style="background-color: black;"></div></li>
    <li><a  href="/aboutUs">About Us</a></li>
    <li><a href="/contactUs">Contact Us</a></li>
    <li><a href="/logout">Log out</a></li>
    </ul>
{{/if}} 
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons hamburger">menu</i></a>
{{#if loggedDriver}}
<li>
    <li><a style="font-weight: 900;" class="waves-effect active" href="#"><i class="material-icons">access_time</i>Pending Rides</a></li>
    <li><a style="font-weight: 900;" class="waves-effect" href="#"><i class="material-icons">attach_money</i>Earnings</a></li>
    <li><div class="divider" style="background-color: black;"></div></li>
    <li><a href="/aboutUs">About Us</a></li>
    <li><a href="/contactUs">Contact Us</a></li>
    <li><a href="/logout">Log out</a></li>
    </ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons hamburger">menu</i></a>
</li>
{{else}}
    <li><a class="waves-effect" href="/drinkers"><i class="material-icons">local_bar</i>For drinkers</a></li>
    <li><a class="waves-effect" href="/drivers"><i class="material-icons">directions_car</i>For drivers</a></li>
    <li><div class="divider"  style="background-color: black;"></div></li>
    <li><a href="/introduction">Scootbob</a></li>
    <li><a href="/aboutUs">About Us</a></li>
    <li><a href="/contactUs">Contact Us</a></li>
    </ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons hamburger">menu</i></a>
{{/if}} 