{{> navbar}}
<div class="containerAbout">
  <h2 class="about animated bounceInDown">About Us</h2>
  <div class="photos">
    <img class="circle" src="../public/images/IMG-20181129-WA0002 (1).jpg">
    <img class="circle" src="images/IMG-20181129-WA0002 (1).jpg">
  </div>
</div>
