<div class="carousel carousel-slider center" style="height: 100vh;">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">SIGNUP</a>
      <a class="btn waves-effect white grey-text darken-text-2">LOGIN</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>About ScootBob</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>ScootBob for drinkers</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>ScootBob for drivers</h2>
      <p class="white-text">This is your third panel</p>
    </div>
</div>
   