 {{> navbar}}
<div class="carousel carousel-slider" style="height: 100vh;">
      <div class="carousel-item white-text " style="background-color: #bcdaf5"  href="#one!">
        <div class="containerFlex one">
          <h1 class="white-text animated fadeInDown delay-5s">ScooterBob</h1>
          <h5 class="white-text darken-text-5 ml3" style="font-weight: 100;">The Designated Driver Service of the century</h5>
          <div class="conceptContainer"> 
            <p> <i class="fas fa-glass-martini"></i></i><br><br> Too wasted and you're with the car? Send your location to get picked up, our ScooterBob will come and get you home!</p>
            <p> <i class="fas fa-bicycle"></i><br><br>On arrival he will have to put his electrical, foldable bike in your car.</p>
            <p> <i class="fas fa-bed"></i></i><br><br>Our Scooterbob will then drive you to your location and drive back on the electric bike. Good luck with the hangover!</p>
            </div>
      </div>
      <div class="carousel-item grey white-text" style="background-color: #66A5AD !important;" href="#two!">
        <div class="containerFlex" style="position: relative; bottom: 100px;">
          <h1>ScooterBob for drinkers</h1>
          <h5 class="white-text darken-text-5" style="font-weight: 100;">Get started or Log in as Drinker</h5>
          <div class="containerFlexButtons">
            <a class="btn-large waves-effect white black-text darken-text-3 introButton hvr-float" href="">SIGNUP</a>
            <a class="btn-large waves-effect white black-text darken-text-3 introButton hvr-float">LOGIN</a>
          </div>
        </div>
      </div>
      <div class="carousel-item white-text" style="background-color: #003B46 !important;" href="#three!">
        <div class="containerFlex" style="position: relative; bottom: 90px;" >
          <h1>ScooterBob for drivers</h1>
          <h5 class="white-text darken-text-5" style="font-weight: 100; text-shadow: ">Get started or Log in as a Driver</h5>
          <div class="containerFlexButtons">
            <a class="btn-large waves-effect white black-text darken-text-3 introButton hvr-float" href="">SIGNUP</a>
            <a class="btn-large waves-effect white black-text darken-text-3 introButton hvr-float">LOGIN</a>
          </div>
        </div>
      </div>
</div>
     