{{> navbar}}

<form action="/login/loginDrinker" method ="post">
  <h1>Log In as Drinker</h1><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <div class="buttonContainer">
    <button type="submit">Log In</button>
    <div class="account"><span>Don't have an account?</span><a href="/signup">Sign Up</a></div>
  </div>
</form> 

<form action="/login/loginDriver" method ="post">
  <h1>Log In as Driver</h1><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <div class="buttonContainer">
    <button type="submit">Log In</button>
    <div class="account"><span>Don't have an account?</span><a href="/signup">Sign Up</a></div>
  </div>
</form> 