<div class="flex-container">
    <div id="map" style="height: 100vh; width: 100%;">
    </div>
    <ul class="origin-destination">
        <li><div class="card"><input id="origin-input" style="width: 95%; padding: 0 2.5%; margin: 0;" type="text" placeholder="Enter start point" value=""></div></li>
        <li><div class="card"><input style="width: 95%; padding: 0 2.5%; margin: 0;" type="text" placeholder="Enter destination"></div></li>
    </ul>
    <form class="ride-confirm" action="">
        <button class="btn waves-effect white grey-text darken-text-2">CONFIRM</button>
        <div class="costs">
            <div class="card price-box">
                <div>$100.00</div>
            </div>
        </div>
    </form>
</div>