<div class="flex-container">
    <div id="map" style="height: 100vh; width: 100%;">
    </div>
    <ul class="origin-destination">
        <li><div class="card"><input id="origin-input" style="width: 95%; padding: 0 2.5%; margin: 0;" type="text" placeholder="Enter start point" value=""></div></li>
        <li><div class="card"><input id="destination-input" style="width: 95%; padding: 0 2.5%; margin: 0;" type="text" placeholder="Enter destination"></div></li>
        <li>
            <div class="card info-box">     
                <div><b>min </b><span id="duration_value">00:00</span></div>
            </div>
        </li>
    </ul>
    <form class="ride-confirm" action="">
        <button class="btn waves-effect white grey-text darken-text-2">CONFIRM RIDE</button>
        <div class="costs">
            <div class="card info-box">     
                <div><b>km </b><span id="in_kilo">00.0</span></div>
            </div>
            <div class="card info-box">     
                <div><span><b>€ </b></span>00.00</div>
            </div>
        </div>
    </form>
</div>

