{{> navbar}}
 <div class="headerContainer">
      <h1>Sign up</h1>
  </div>

<div class="signupContainer">
  <div class="formContainer">
  <h3>For Drinkers</h3>
  <form action="/create/createDrinker" method ="post">
  <input type="text" name="firstName" placeholder="First Name"><br>
  <input type="text" name="lastName" placeholder="Last name"><br>
  <input type="text" name="email" placeholder="E-mail address" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
  <button type="submit" id="submitCreate">Create an account</button>
</form>
</div>
<div class="formContainer">
  <h3>For Drivers</h3>
    <form action="/create/createDriver" method ="post">
    <input type="text" name="firstName" placeholder="First Name"><br>
    <input type="text" name="lastName" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="E-mail address" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="password" name="confirmPassword" placeholder="Confirm password" required><br>
    <button type="submit" id="submitCreate">Create an account</button>
  </form>
</div>
</div>


