{{> navbar}}
<h1>Drinkers</h1>

<form action="/createDrinker" method ="post">
  <input type="text" name="firstName" placeholder="First Name"><br>
  <input type="text" name="lastName" placeholder="Last name"><br>
  <input type="text" name="email" placeholder="E-mail address"><br>
  <input type="password" name="password" placeholder="password"><br>
  <button type="submit" id="submitCreate">Create an account</button>
</form>

<h1>Drivers</h1>
<form action="/createDriver" method ="post">
  <input type="text" name="firstName" placeholder="First Name"><br>
  <input type="text" name="lastName" placeholder="Last Name"><br>
  <input type="text" name="email" placeholder="E-mail address"><br>
  <input type="password" name="password" placeholder="password" ><br>
  <button type="submit" id="submitCreate">Create an account</button>
</form>